<div class="container">
  <div class="header">
    <div class="header-left">
      <button mat-raised-button color="primary" (click)="openAddProjectDialog()">Add New Project</button>
      <button mat-raised-button color="accent" (click)="openAddFileDialog()">Add New File</button>
    </div>
    <div class="header-right">
      <mat-form-field appearance="fill">
        <mat-label>Select Project</mat-label>
        <mat-select [(ngModel)]="selectedProject" (selectionChange)="onProjectSelectionChange()">
          <mat-option *ngFor="let project of projects" [value]="project">{{ project.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="warn" class="logout-button" (click)="logout()">Logout</button>
    </div>
  </div>

  <div class="content" *ngIf="projects && projects.length > 0; else noProjects">
    <!-- Display projects -->
    <div class="project-list">
      <ul>
        <li *ngFor="let project of projects" class="project-item">{{ project.name }}</li>
      </ul>
    </div>
    <app-sql-injection-chart *ngIf="selectedFileIdSQL" [fileIdSQL]="selectedFileIdSQL"></app-sql-injection-chart>
  </div>

  <ng-template #noProjects>
    <div class="no-projects">
      <p>You don't have any projects now. Add your first project!</p>
      <button mat-raised-button color="primary" (click)="openAddProjectDialog()">Add Project</button>
    </div>
  </ng-template>
</div>

