<div class="container">
  <div class="header">
<!--    <div class="header-left">-->
<!--      <button mat-raised-button color="primary" (click)="openAddProjectDialog()">Add New Project</button>-->
<!--      <button mat-raised-button color="accent" (click)="openAddFileDialog()">Add New File</button>-->
<!--      <button mat-raised-button color="warn" (click)="openAddConnectionDialog()">Add New Connection</button>-->
<!--    </div>-->
    <div class="header-right">
      <mat-form-field appearance="fill">
        <mat-label>Select Project</mat-label>
        <mat-select [(ngModel)]="selectedProject" (selectionChange)="onProjectSelectionChange()">
          <mat-option *ngFor="let project of projects" [value]="project">{{ project.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-radio-group [(ngModel)]="selectedMode" (change)="onModeSelectionChange()" class="radio-group">
        <mat-radio-button value="Real-Time" class="radio-button">Realtime</mat-radio-button>
        <mat-radio-button value="Audit" class="radio-button">Audit</mat-radio-button>
      </mat-radio-group>

<!--      <div class="spacer"></div>-->


      <ng-container *ngIf="selectedMode === 'Audit'">
        <mat-form-field appearance="fill">
          <mat-label>Select File</mat-label>
          <mat-select [(ngModel)]="selectedFile" (selectionChange)="onFileSelectionChange()">
            <mat-option *ngFor="let file of files" [value]="file">{{ file.path }}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="selectedMode === 'Real-Time'">
        <mat-form-field appearance="fill">
          <mat-label>Select Connection</mat-label>
          <mat-select [(ngModel)]="selectedConnection" (selectionChange)="onConnectionSelectionChange()">
            <mat-option *ngFor="let connection of connections" [value]="connection">{{ connection.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Select Table SQL</mat-label>
          <mat-select [(ngModel)]="selectedTable" (selectionChange)="onTableSelectionChange()">
            <mat-option *ngFor="let table of tables" [value]="table">{{ table }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Select Table XSS</mat-label>
          <mat-select [(ngModel)]="selectedTableXSS" (selectionChange)="onTableXSSSelectionChange()">
            <mat-option *ngFor="let tableXSS of tables" [value]="tableXSS">{{ tableXSS }}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <mat-form-field appearance="fill">
        <mat-label>Select Option</mat-label>
        <mat-select [(ngModel)]="selectedOption" (selectionChange)="onOptionSelectionChange()">
          <mat-option value="AI">AI</mat-option>
          <mat-option value="Regex">Regex</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="warn" class="logout-button" (click)="logout()">Logout</button>
    </div>
  </div>

  <div class="content" *ngIf="projects && projects.length > 0; else noProjects">
    <app-sql-injection-chart
      *ngIf="selectedTable && selectedConnectionId && selectedOption && selectedMode==='Real-Time' || selectedProject && selectedMode==='Audit' && selectedFile && selectedOption && selectedFile.type === 'SQL'"
      [selectedTable]="selectedTable"
      [connectionId]="selectedConnectionId"
      [selectedOption]="selectedOption"
      [selectedFile]="selectedFile ? selectedFile.id : null"
      [selectedMode]="selectedMode"
    >
    </app-sql-injection-chart>
    <app-sql-injection-chart-detailed-ai-regex
      *ngIf="selectedTable && selectedConnectionId && selectedOption  && selectedMode==='Real-Time' || selectedProject && selectedMode==='Audit' && selectedFile && selectedOption && selectedFile.type === 'SQL'"
      [selectedTable]="selectedTable"
      [connectionId]="selectedConnectionId"
      [selectedOption]="selectedOption"
      [selectedFile]="selectedFile ? selectedFile.id : null"
      [selectedMode]="selectedMode"
    >
    </app-sql-injection-chart-detailed-ai-regex>
    <app-xss-injection-chart
      *ngIf="selectedTableXSS && selectedConnectionId && selectedOption && selectedMode==='Real-Time' || selectedProject && selectedMode==='Audit' && selectedFile && selectedOption && selectedFile.type === 'XSS'"
      [selectedTableXSS]="selectedTableXSS"
      [connectionId]="selectedConnectionId"
      [selectedOption]="selectedOption"
      [selectedFile]="selectedFile ? selectedFile.id : null"
      [selectedMode]="selectedMode"
    >
    </app-xss-injection-chart>
    <app-xss-injection-chart-detailed-ai-regex
      *ngIf="selectedTableXSS && selectedConnectionId && selectedOption && selectedMode==='Real-Time' || selectedProject && selectedMode==='Audit' && selectedFile && selectedOption && selectedFile.type === 'XSS'"
      [selectedTableXSS]="selectedTableXSS"
      [connectionId]="selectedConnectionId"
      [selectedOption]="selectedOption"
      [selectedFile]="selectedFile ? selectedFile.id : null"
      [selectedMode]="selectedMode"
    >
    </app-xss-injection-chart-detailed-ai-regex>
  </div>

  <ng-template #noProjects>
    <div class="no-projects">
      <p>You don't have any projects now. Add your first project!</p>
      <button mat-raised-button color="primary" (click)="openAddProjectDialog()">Add Project</button>
    </div>
  </ng-template>

  <div class="manage-buttons">
    <button mat-raised-button color="primary" (click)="openManageDialog('projects')">Manage Projects</button>
    <button mat-raised-button color="primary" (click)="openManageDialog('files')">Manage Files</button>
    <button mat-raised-button color="primary" (click)="openManageDialog('connections')">Manage Connections</button>
  </div>
</div>
