/* Global styles for the entire page */
body {
  background-color: #222; /* Dark background for the entire page */
  font-family: 'Roboto', sans-serif;
  color: #fff; /* White text color */
}

.error-snackbar {
  background-color: #f44336;
  color: white;
}
